

<html xmlns:th="https://www.isfgroup.cz">

<body>




        <div>
        
<h2>PDF validation using VERA</h2>

                <form method="POST" enctype="multipart/form-data" action="/pdf">
<p>
Validation Profile:

         <input type="radio" name="level" value="1a">1a

         <input type="radio" name="level" value="1b">1b
         
         <input type="radio" name="level" value="2a">2a
         
         <input type="radio" name="level" value="2b" checked>2b
</p>
<p>

                        <table>
                                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                                <tr><td></td><td><input type="submit" value="Validate" /></td></tr>
                        </table>
                        
</p>                        
                </form>
        </div>




    <form action="#" th:object="${result}" method="post">

    <p> PDF/A Validation Results (PDF/A Compliance): <label th:text="*{value}" /></p> 

    </form>



</body>
</html>